<mat-card>
    <mat-card-header>
        <h3><b>{{task.name}}</b></h3>
    </mat-card-header>
    <mat-card-content fxLayout="column">
        <p>{{task.question}}</p>
        <mat-form-field *ngIf="task.type === 0">
            <textarea matInput #answerText="ngModel" [(ngModel)]="answer.text"></textarea>
        </mat-form-field>
        <mat-radio-group *ngIf="task.type === 1" [(ngModel)]="answer.text">
            <mat-radio-button *ngFor="let variant of task.answerVariants; let i = index" [name]="variant" [value]="variant">{{variant}}</mat-radio-button>
        </mat-radio-group>
        <div>
            <app-sorting-panel *ngIf="task.type === 2" [task]="task" [answer]="answer"></app-sorting-panel>
        </div>
        <div>
            <app-tree-edit *ngIf="task.type === 3" [tree]="task.tree" [clickTrace]="answer.clickTrace" [isCreatorMode]="false"></app-tree-edit>
        </div>
    </mat-card-content>
</mat-card>