<table mat-table [dataSource]="surveys" *transloco="let t;">
    <ng-container matColumnDef="dateCreated">
        <th mat-header-cell *matHeaderCellDef>{{t('survey.table.dateCreatedLabel')}}</th>
        <td mat-cell *matCellDef="let survey">{{survey.dateCreated}}</td>
    </ng-container>
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>{{t('survey.table.nameLabel')}}</th>
        <td mat-cell *matCellDef="let survey">{{survey.name}}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>{{t('survey.table.actionsLabel')}}</th>
        <td mat-cell *matCellDef="let survey">
            <a mat-button [routerLink]="['/analytics', survey.surveyId]">{{t('survey.table.analyticsLabel')}}</a>
            <button mat-button [cdkCopyToClipboard]="survey.surveyId" (click)="showMessageCopy()">{{t('survey.table.shareLabel')}}</button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
