annotated-types==0.6.0
anyio==4.3.0
bcrypt==4.0.1
click==8.1.7
contourpy==1.2.1
cycler==0.12.1
fastapi==0.110.0
fonttools==4.53.1
greenlet==3.0.3
h11==0.14.0
idna==3.6
kiwisolver==1.4.5
matplotlib==3.9.1
numpy==2.0.0
packaging==24.1
passlib==1.7.4
pillow==10.4.0
psycopg2-binary==2.9.9
pydantic==1.10.11
pydantic_core==2.16.3
PyJWT==2.8.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.9
scipy==1.14.0
six==1.16.0
sniffio==1.3.0
SQLAlchemy==2.0.27
starlette==0.36.3
typing_extensions==4.9.0
uvicorn==0.27.1
xlsxwriter==3.2.0